/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Krub');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
*/

@import url('https://fonts.googleapis.com/css?family=Krub');

input{
  padding: 12px 20px;
  margin: 8px 0;
}

#center-box{
  background-color: WHITE;
  margin: 8% auto;
  text-align: center;
  vertical-align: middle;
  border-radius:  100px;
  width:  450px;
  height: 600px;
}

#center-text{
  height: auto;
  font-weight:500;
  font-size: 40px;
  clear: both;
  padding: 10px 10px;
  position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}

#class-number{
  bottom: 10px;
}
